{% extends 'base.html' %}

{% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>

<style>
  body {
    padding-top: 100px;
    scroll-behavior: smooth;
  }
  .section {
    padding: 50px 0;
  }
  .hidden {
    display: none;
  }
</style>

<div class="container mt-5">
  <h1 class="mb-4">Calendar</h1>
  <h2 class="mb-3">Welcome Community</h2>

  <p class="lead">
    Please use this calendar to schedule a meeting with me!
  </p>

  <div class="mt-4">
    <h3>Book an Appointment</h3>
	<!-- Google Calendar Appointment Scheduling begin -->
    <iframe src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ3LeMHYqS_5_7PZ47CtBhN62_MIpZu2QRGSu6kbsLme880ffhLXZl7MBjC4eiR2WlyyQo-AFx-d?gv=true" 
    style="border: 0" width="100%" height="600" frameborder="0"></iframe>
	<!-- end Google Calendar Appointment Scheduling -->
  </div>
</div>

{% endblock %}