{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h1>Account Settings</h1>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username" value="{{ user.username }}">
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" name="email" value="{{ user.email }}">
    </div>
    <div class="mb-3">
      <label class="form-label">About Me</label>
      <textarea class="form-control" name="about_me">{{ user.about_me }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>

  <!-- Logout button -->
  <div class="mt-4">
    <form action="{{ url_for('content.logout') }}" method="post">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
  </div>
</div>
{% endblock %}